{% comment %}
  Wiertla Logos Grid Component
  A reusable component to display manufacturer logos in a grid layout.
{% endcomment %}

<div class="wiertla-logos">
  <div class="wiertla-logos__grid">
    <!-- First row of logos -->
    <div class="wiertla-logos__row">
      <div class="wiertla-logos__item">SANDVIK</div>
      <div class="wiertla-logos__divider"></div>
      <div class="wiertla-logos__item">SECO</div>
      <div class="wiertla-logos__divider"></div>
      <div class="wiertla-logos__item">MITSUBISHI</div>
      <div class="wiertla-logos__divider"></div>
      <div class="wiertla-logos__item">WALTER</div>
    </div>
    
    <!-- Second row of logos -->
    <div class="wiertla-logos__row">
      <div class="wiertla-logos__item">KENNAMETAL</div>
      <div class="wiertla-logos__divider"></div>
      <div class="wiertla-logos__item">GARANT</div>
      <div class="wiertla-logos__divider"></div>
      <div class="wiertla-logos__item">ARNO</div>
      <div class="wiertla-logos__divider"></div>
      <div class="wiertla-logos__item">ISCAR</div>
    </div>
  </div>
</div> 