{% comment %}
  Wiertla Rental Info Component
  A reusable component to display rental information about drills.
{% endcomment %}

<div class="wiertla-rental-info mobile">
  <div class="wiertla-rental-info__icon">
    <img src="{{ 'icon_calendar.svg' | asset_url }}" alt="Calendar" width="24" height="24" class="wiertla-rental-info__icon-inner">
  </div>
  <div class="wiertla-rental-info__text">
    Wiertła dostępne do wypożyczenia oznaczone tą ikoną (dowiedz się więcej)
  </div>
</div> 