<div class="section-x-padding py-theme max-w-md mx-auto" x-data="BaselineLogin()" x-init="mounted()" data-color-scheme="primary">
  <div class="reset-password-form">
    <h1 class="font-heading text-2xl mb-2" data-translate="customer.reset_password.title">Resetowanie hasła</h1>
    
    <p data-translate="customer.reset_password.subtext">Wysłaliśmy do {{ email }} link do resetowania hasła.</p>

    {% if form.errors %}
      <div class="mt-4 text-scheme-accent" tabindex="-1" data-login-error>{{ form.errors | default_errors }}</div>
    {% endif %}

    <div class="form-field">
      <label for="password" data-translate="customer.reset_password.password">Nowe hasło</label>
      <input type="password"
        name="customer[password]"
        id="password"
        class="w-full py-1 bg-transparent border-b-text border-current {% if form.errors contains 'password' %}border-theme-color{% endif %}"
        required>
    </div>

    <div class="form-field">
      <label for="password_confirm" data-translate="customer.reset_password.password_confirm">Potwierdź hasło</label>
      <input type="password"
        name="customer[password_confirmation]"
        id="password_confirm"
        class="w-full py-1 bg-transparent border-b-text border-current {% if form.errors contains 'password_confirmation' %}border-theme-color{% endif %}"
        required>
    </div>

    <div class="mt-4">
      <input type="submit" class="button" value="Resetuj hasło" data-translate="customer.reset_password.submit">
    </div>
  </div>
</div>
